// ----- Styling specific to the emulator webpage

$dark-color: #00252e;
$light-color: #868686;
$accent-color: #ff00ff;
// $light-color: #ffffffaa;
// $accent-color: yellowgreen;
// $accent-color: palevioletred;

.emul-cont{
     width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
     justify-content: center;
}
.mobile-frame{
     position: absolute;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     width: 400px;
     height: 711px;
     border: solid 8px black;
     border-radius: 3rem;
}
.mobile-screen-area{
     // background: greenyellow;
     // width: 95%;
     // height: 95%;
     width: 100%;
     height: 100%;
     border-radius: 2.5rem;
     display: flex;
     align-items: center;
     justify-content: center;
}


.emul-cont{
     ::-webkit-scrollbar{
          width: 0.15rem;
          height: 0.15rem;
     }
     ::-webkit-scrollbar-thumb{
          width: 0.1rem;
          height: 0.1rem;
          border-radius: 3px;
     }
     

     // -- Home
     .home{
          display: none;
     }
     .home.active{
          display: grid;
          height: 75vh;
          top: 5vh;
     }
          

     // - Buttons
     .home-btn-ext{
          position: absolute;
          z-index: 2;
          background: $dark-color;
          display: grid;
          place-items: center;
          grid-template-rows: 1.5fr 1fr;
          cursor: pointer;
          transition: 1s;
          i{
               display: grid;
               place-items: center;
          }
          p{
               display: grid;
               place-items: center;
               margin: 0;
          }
          left: calc(15% - 2rem);
     }
     .acad-btn, .acad-btn.side-btn{
          left: calc(32.5% - 2rem);
     }
     .skill-btn, .skill-btn.side-btn{
          left: calc(50% - 2rem);
     }
     .proj-btn, .proj-btn.side-btn{
          left: calc(67.5% - 2rem);
     }
     .contact-btn, .contact-btn.side-btn{
          left: calc(85% - 2rem);
     }
     .home-btn-ext, .sect-btn, .sect-btn.side-btn{
          box-shadow: none;
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          top: 83.5vh;

          i{
               align-self: end;
               height: 1.5rem;
               font-size: 1.5rem;
               // background: red;
          }
          p{
               // background: orange;
               align-self: start;
               // display: grid;
               height: 0.8rem;
               font-size: 0.6rem;
               // display: none;
          }
     }
     .home-btn-ext.active{
          box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
               inset 2px 2px 6px rgba(0, 0, 0, 0.8);
          i{
               color: $accent-color;
          }
          transition: 0.5s;
          cursor: default;
     }
     .light-mode{
          .home-btn, .home-btn-ext, .sect-btn{
               box-shadow: none;
          }
     }

     // -- Home (cont'd)
     .home-data.active{
          grid-template-rows: 30% auto;
     }
     .home-title{
          margin: 0;
          align-self: end;
          font-size: 1.5rem;
     }
     .home-info{
          align-self: start;
          font-size: 1rem;
     }
     .sect.active{
          height: 75vh;
          top: 5vh;
          font-size: 1rem;
          transition: 1s;
     }
     .sect.active .sect-data{
          grid-template-rows: 7% auto;
          row-gap: 0.5rem;
          // background: blue;
          border-radius: 10px;
          height: 100%;
          width: 80%;
          margin: 0;
     }
     .sect-title{
          width: fit-content;
          align-items: end;
          padding: 0.5rem;
          font-size: 1.5rem;
     }

     // -- Academic
     .timeline, .new-timeline{
          width: 100%;
     }
     .timeline::after, .new-timeline::after{
          width: 4px;
          left: 0;
     }
     .right-node{
          left: 0;
     }
     .left-node .node-point, .right-node .node-point {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          left: calc(-10px + 2px);
          top: calc(50% - 10px);
     }
     .left-node .node-point-span, .right-node .node-point-span{
          left: 12px;
     }
     .node-cont{
          // padding-left: 25px;
          padding-right: 0;
          width: calc(100% - 25px);
     }
     .node-point-span{
          width: 13px;
          top: calc(50% - 1.5px);
     }
     .node-data{
          padding: 1px 0.75rem;
          // height: vh;
          // background: white;
          border-radius: 10px;
          h2{
               margin: 0.1rem 0 0;
               padding-left: 0.5rem;
               // width: 50%;
               // border-bottom: solid $accent-color 3px;
          }
          p{
               margin: 0.1rem 0 0.5rem;
          }
     }

     // -- Skills
     .skill-cat, .skill-cat:hover{
          width: 85%;
          height: 11rem;
     }
     .skill-cat.active{
          height: 90%;
          .skill-cat-head{
               padding: 0.25rem;
          }
          .skill-cat-body{
               padding: 0.5rem;
               padding-top: 1rem;
               gap: 0.5rem;
          }
          cursor: default;
     }
     .skill-cat-nodule{
          height: 2.5rem;
     }
     .skill-cat.inactive{
          height: 0;
          width: 0;
          border: none;
          padding: 0;
          transition: 10ms;
          .skill-cat-head{
               width: 0;
               height: 0;
               display: none;
          }
     }

     // -- Projects
     .proj-info{
          height: 66vh;
          margin-top: 0.5rem;
     }
     .proj-card{
          gap: 0.1rem;
          height: 13.1rem;
          width: 15rem;
     }
     .proj-head h2{
          font-size: 1.1rem;
     }
     .proj-card.active .proj-head h2{
          font-size: 1.25rem;
     }
     // -- Contact
     .resume-link, .p-source-link{
          justify-content: start;
          margin-bottom: 0.25rem;
          p{ margin: 0;}
          a{ margin: 0;}
     }
}