// ----- Styling specific to the simplified webpage

$dark-color: #00252e;
$light-color: #868686;
$accent-color: #ff00ff;
// $light-color: #ffffffaa;
// $accent-color: yellowgreen;
// $accent-color: palevioletred;

.simp-cont{
     // background: green;
     height: 100vh;
     width: 100vw;
     margin: 0;
}
.simp-cont.light-mode{
     color: $dark-color;
     background: $light-color;
}
.sidebar-cont{
     // background: purple;
     position: absolute;
     left: 0;
     height: 100vh;
     width: 5rem;
     z-index: 15;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;

     background: rgba(0, 0, 0, 0.08);
     backdrop-filter: blur(2px);
     .line{
          width: 55%;
          height: 1px;
          background: $light-color;
     }
     transition: 0.5s;
}

.side-ui-sel{
     // background: blueviolet;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     gap: 1rem;
}
.side-bg-icon{ 
     display: flex; 
     align-items: center;
     justify-content: center;
     height: 4rem;
     i.active{ color: $accent-color;}
}
.sidebar-cont .bg-ctrl{ display: none;}

.side-layout-icon{ 
     display: flex; 
     align-items: center;
     justify-content: center;
     color: $accent-color;
     height: 4rem;
}
.side-layout-sel{ display: none;}
.side-layout-btn{
     display: flex;
     align-items: center;
     justify-content: center;
     // background: red;
     height: 2rem ;
     width: 2rem ;
     border-radius: 7px;
     transition: 0.25s;
     cursor: pointer;
}
.side-layout-btn:hover{
     box-shadow: 0 0 10px 2px #86868626;
     transition: 0.25s;
}
.side-layout-btn.active{
     color: $accent-color;
     box-shadow: 0 0 10px 5px #8686863f;
     height: 0.5rem;
     width: auto;
     padding: 1rem;
     border-radius: 15px;
}

.side-page-sel{
     // background: blue;
     height: fit-content;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     gap: 1rem;
}
.side-page-btn{
     // background: red;
     height: 4rem;
     width: 4rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     text-decoration: none;
     color: $light-color;
     
     .side-page-label{display: none;}
     transition: 0.25s;
}
.side-page-btn:hover{
     box-shadow: 0 0 10px 3px #86868626;
     padding: 0 1.5rem;
     border-radius: 10px;
     transition: 0.25s;
}
.side-page-btn.active .side-page-icon{
     color: $accent-color;
     border-bottom: solid 1px $accent-color;
}
.side-page-btn.active .side-page-label{border-bottom: solid 1px $accent-color;}

.sidebar-cont:hover{
     // width: auto;
     width: 15rem;
     // border: solid 1px black;
     transition: 0.5s;
     .side-bg-icon{ display: none;}
     .bg-ctrl{ 
          display: flex;
          height: 4rem;
     }
     .side-layout-icon{ display: none;}
     .side-layout-sel{ 
          display: flex;
          align-items: center;
          justify-content: center;
          height: 4rem;
          gap: 0.5rem;
     }
     .side-page-btn{
          width: auto;
          .side-page-label{display: flex;}
     }
     .side-page-btn.active{ 
          box-shadow: 0 0 10px 5px #8686863f;
          padding: 0 2rem;
          border-radius: 20px;
          transition: 0.25s;
     }
}

.mainbody-cont{
     // background: palevioletred;
     position: relative;
     left: 5rem;
     height: 100vh;
     width: calc(100vw - 5rem);
     overflow-y: auto;
     scroll-behavior: smooth;

     .page-sect{
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
     }
     // Home re-design
     .home, .home.active{
          position: relative;
          display: grid;
          place-items: center;
          width: 80%;
          height: 80vh;
          top: 0;
          left: 0;
          border-radius: 10px;
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.05),
               6px 6px 15px rgba(0, 0, 0, 0.5);

          .home-data, .home-data.active{
               position: static;
               display: grid;
               grid-template-rows: 40% auto;
               height: 100%;
               width: 100%;
          }
          .home-title, .home-info{
               margin: 0;
               padding: 0 1rem;
               box-sizing: border-box;
               width: 100%;
          }
     }
     .home-btn,.sect-btn{display: none;}
     .sect, .sect.active{
          .sect-data{
               display: grid;
               grid-template-rows: 1fr auto;
               row-gap: 0.5rem;
               box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
                    5px 5px 15px rgba(0, 0, 0, 0.5);
               height: 90%;
               width: 95%;
               overflow: auto;
               opacity: 1;
               margin: 0;
               padding: 0.5rem;
               .sect-title{
                    height: 5rem;
               }
          }
          position: relative;
          transform: rotateY(0deg);
          animation: none;
          display: grid;
          place-items: center;
          width: 100%;
          height: 100%;
          border-radius: 0;
          box-shadow: none;
     }

     // Academics redesign
     .timeline, .new-timeline{
          // background: purple;
          width: 95%;
          display: flex;
          justify-content: space-around;
          align-items: center;
     }
     .node-cont{
          // background: pink;
          position: relative;
          padding: 0;
          width: 13rem;
          height: 70vh;
          animation: none;
          opacity: 1;
          box-shadow: none;
     }
     .node-data, .node-data.active{
          background: transparent;
          box-shadow: none;
          border-radius: 0;
          height: 100%;
          max-height: 100%;
          padding: 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          gap: 2rem;
          cursor: default;
          p{
               margin: 0;
          }
          .acad-year i{
               display: none;
          }
     }
     .acad-year{
          margin: 0;
          padding: 0;
          width: 100%;
          height: 50%;
          font-weight: 400;
          font-size: 1rem;
          display: flex;
          align-items: end;
          justify-content: center;
     }
     .acad-year span, .spec-node span{
          border-bottom: none;
          margin: 0;
          padding: 0.5rem;
     }
     .node-body{
          // background: orange;
          height: 50%;
          width: 100%;
          box-sizing: border-box;
          padding-top: 0.5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          font-size: 0.9rem;
          p:nth-child(1){
               // background: turquoise;
               font-weight: 500;
               text-decoration: underline;
               margin-bottom: 0.5rem;
          }
          ul{
               margin: 0;
               list-style: none;
               padding-left: 0;
               display: flex;
               flex-direction: column;
               align-items: center;
               gap: 0.5rem;
          }
     }
     .right-node{
          left: 0;
          .node-data{
               flex-direction: column-reverse;
               .acad-year{align-items: start;}
               .node-body{
                    justify-content: end;
                    padding: 0 0 0.5rem;
               }
          }
     }
     .node-point{
          right: calc(50% - 20px);
          top: calc(50% - 20px);
          cursor: default;
     }
     .right-node .node-point{
          left: calc(50% - 20px);
     }
     .node-point-span{
          width: 100%;
     }
     .node-point:hover div{
          height: 33%;
          width: 33%;
          box-shadow:  none;
     }
     .timeline::after, .new-timeline::after{display: none;}

     // Skills re-design
     .skill-cat, .skill-cat.active, .skill-cat.inactive{
          height: 70vh;
          width: 45%;
          overflow-y: auto;
          background: transparent;
          overflow-y: auto;
          transition: 0.5s;
          i{
               display: none;
          }
          .skill-cat-desc{
               display: none;
          }
          .skill-cat-head{
               padding: 0.5rem;
               border-radius: 0;
               border-bottom: solid 1px $light-color;
               height: initial;
               width: initial;
               transform-origin: initial;
               transform: rotate(0deg);
          }
          .skill-cat-body{
               padding: 1rem;
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               justify-content: center;
               gap: 1rem;
          }
          cursor: default;
          transition: 0.5s;
     }

     // Projects red-design
     .page-sect#projects{
          height: fit-content;
     }
     .projects,.projects.active{
          height: auto;
          display: grid;
          height: fit-content;
          .sect-data{
               // background: blue;
               height: fit-content;
          }
     }
     .proj-info{
          height: fit-content;
          flex-wrap: nowrap;
          align-items: start;
          justify-content: start;
          flex-direction: column;
     }

     .proj-card, .proj-card.active, .proj-card.inactive{
          display: flex;
          flex-direction: row;
          align-items: start;
          justify-content: center;
          gap: 0.75rem;
          height: 15rem;
          width: 100%;
          background: transparent;
          border-radius: 10px;
          box-sizing: border-box;
          visibility: visible;
          .proj-thumb{display: none;}
          i{display: none;}
          .proj-head{
               // background: purple;
               width: 14rem;
               height: 100%;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: center;
               padding: 0;
               margin: 0;
               border: none;
               h2{
                    font-size: 1.2rem;
                    text-align: center;
               }
          }
          .proj-body{
               // background: purple;
               display: flex;
               flex-direction: row;
               align-items: center;
               justify-content: space-around;
               width: fit-content;
               height: 100%;
               margin: 0;
               padding: 0;
               .proj-disp{
                    height: 12rem;
                    width: 12rem;
                    object-fit: cover;
               }
               .proj-links{
                    margin-top: 0;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
               }
               p{
                    width: 25%;
               }
               .proj-details{
                    width: 40%;
                    th{
                         padding: 0.1rem;
                    }
                    td{
                         display: flex;
                         flex-direction: column;
                         justify-content: center;
                         padding: 0;
                         p{
                              margin: 0;
                              padding: 0.1rem;
                              box-sizing: border-box;
                              width: 100%;
                         }
                    }
               }
          }
          
          cursor: default;
     }
     .proj-card:hover{
          filter: brightness(100%);
     }
     .proj-disp:hover{
          box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.3);
          filter: brightness(70%);
          transition: 0.25s;
     }
     .proj-card.src-card .proj-details{
          border: solid 2px #b1953e;
          th{
               border: solid 2px #b1953e;
          }
          .proj-roles{
               border-bottom: solid 2px #b1953e;
          }
          td{
               p{
                    border-bottom: solid 1px #b1953e;
               }
          }
          
     }
}

.light-mode{
     .side-page-btn a{color: $dark-color;}
     .side-page-btn{color: $dark-color;}
}