// ----- Styling specific to the simplified webpage

$dark-color: #00252e;
$light-color: #868686;
$accent-color: #ff00ff;
// $light-color: #ffffffaa;
// $accent-color: yellowgreen;
// $accent-color: palevioletred;

.simp-cont{
     // background: green;
     height: 100vh;
     width: 100vw;
     margin: 0;
}
.simp-cont.light-mode{
     color: $dark-color;
     background: $light-color;
}
.sidebar-cont{
     // background: purple;
     position: absolute;
     left: 0;
     height: 100vh;
     width: 5rem;
     z-index: 1;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;

     background: rgba(0, 0, 0, 0.08);
     backdrop-filter: blur(2px);
     .line{
          width: 55%;
          height: 1px;
          background: $light-color;
     }
     transition: 0.5s;
}

.side-ui-sel{
     // background: blueviolet;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     gap: 1rem;
}
.side-bg-icon{ 
     display: flex; 
     align-items: center;
     justify-content: center;
     height: 4rem;
     i.active{ color: $accent-color;}
}
.sidebar-cont .bg-ctrl{ display: none;}

.side-layout-icon{ 
     display: flex; 
     align-items: center;
     justify-content: center;
     color: $accent-color;
     height: 4rem;
}
.side-layout-sel{ display: none;}
.side-layout-btn{
     display: flex;
     align-items: center;
     justify-content: center;
     // background: red;
     height: 2rem ;
     width: 2rem ;
     border-radius: 7px;
     transition: 0.25s;
     cursor: pointer;
}
.side-layout-btn:hover{
     box-shadow: 0 0 10px 2px #86868626;
     transition: 0.25s;
}
.side-layout-btn.active{
     color: $accent-color;
     box-shadow: 0 0 10px 5px #8686863f;
     height: 0.5rem;
     width: auto;
     padding: 1rem;
     border-radius: 15px;
}

.side-page-sel{
     // background: blue;
     height: fit-content;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
     gap: 1rem;
}
.side-page-btn{
     // background: red;
     height: 4rem;
     width: 4rem;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 1rem;
     text-decoration: none;
     color: $light-color;
     
     .side-page-label{display: none;}
     transition: 0.25s;
}
.side-page-btn:hover{
     box-shadow: 0 0 10px 3px #86868626;
     padding: 0 1.5rem;
     border-radius: 10px;
     transition: 0.25s;
}
.side-page-btn.active .side-page-icon{
     color: $accent-color;
     border-bottom: solid 1px $accent-color;
}
.side-page-btn.active .side-page-label{border-bottom: solid 1px $accent-color;}

.sidebar-cont:hover{
     // width: auto;
     width: 15rem;
     // border: solid 1px black;
     transition: 0.5s;
     .side-bg-icon{ display: none;}
     .bg-ctrl{ 
          display: flex;
          height: 4rem;
     }
     .side-layout-icon{ display: none;}
     .side-layout-sel{ 
          display: flex;
          align-items: center;
          justify-content: center;
          height: 4rem;
          gap: 0.5rem;
     }
     .side-page-btn{
          width: auto;
          .side-page-label{display: flex;}
     }
     .side-page-btn.active{ 
          box-shadow: 0 0 10px 5px #8686863f;
          padding: 0 2rem;
          border-radius: 20px;
          transition: 0.25s;
     }
}


// -- Up Next:
//   - Clean up dirty code
//   - Make everything static page-friendly 
//        (everything should be visible, no opening windows for the page content)
.mainbody-cont{
     // background: palevioletred;
     position: relative;
     left: 5rem;
     height: 100vh;
     width: calc(100vw - 5rem);
     overflow-y: auto;

     .page-sect{
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          // background: red;
     }
     .home, .home.active{
          .home-data, .home-data.active{
               display: grid;
               grid-template-rows: 40% auto;
               height: 100%;
               width: 100%;
          }
          // position: absolute;
          position: relative;
          // background: yellow;
          // background: $dark-color;
          display: grid;
          place-items: center;
          width: 80%;
          height: 55vh;
          // width: 100%;
          // height: 100%;
          top: 0;
          left: 0;
          border-radius: 10px;
          box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.05),
               6px 6px 15px rgba(0, 0, 0, 0.5);
     }
     // .acad, .acad.active{
     .sect, .sect.active{
          .sect-data{
               display: grid;
               grid-template-rows: 15% auto;
               row-gap: 0.5rem;
               box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
                    5px 5px 15px rgba(0, 0, 0, 0.5);
               height: 90%;
               width: 95%;
               // width: calc(91% - 5rem);
               overflow: auto;
               opacity: 1;
               margin: 0;
               // margin-left: 3%;
               // margin-right: calc(6% + 5rem);
               padding: 0.5rem;
               animation: 0.25s acadActivate forwards;
          }
          position: relative;
          // background: $dark-color;
          display: grid;
          place-items: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 0;
          box-shadow: none;
     }
     .home-btn,.sect-btn{display: none;}
}

.light-mode{
     .side-page-btn a{color: $dark-color;}
     .side-page-btn{color: $dark-color;}
}