.simp-cont {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.simp-cont.light-mode {
  color: #00252e;
  background: #868686;
}

.sidebar-cont {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 5rem;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: 0.5s;
}
.sidebar-cont .line {
  width: 55%;
  height: 1px;
  background: #868686;
}

.side-ui-sel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.side-bg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}
.side-bg-icon i.active {
  color: #ff00ff;
}

.sidebar-cont .bg-ctrl {
  display: none;
}

.side-layout-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff00ff;
  height: 4rem;
}

.side-layout-sel {
  display: none;
}

.side-layout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 7px;
  transition: 0.25s;
  cursor: pointer;
}

.side-layout-btn:hover {
  box-shadow: 0 0 10px 2px rgba(134, 134, 134, 0.1490196078);
  transition: 0.25s;
}

.side-layout-btn.active {
  color: #ff00ff;
  box-shadow: 0 0 10px 5px rgba(134, 134, 134, 0.2470588235);
  height: 0.5rem;
  width: auto;
  padding: 1rem;
  border-radius: 15px;
}

.side-page-sel {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.side-page-btn {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  color: #868686;
  transition: 0.25s;
}
.side-page-btn .side-page-label {
  display: none;
}

.side-page-btn:hover {
  box-shadow: 0 0 10px 3px rgba(134, 134, 134, 0.1490196078);
  padding: 0 1.5rem;
  border-radius: 10px;
  transition: 0.25s;
}

.side-page-btn.active .side-page-icon {
  color: #ff00ff;
  border-bottom: solid 1px #ff00ff;
}

.side-page-btn.active .side-page-label {
  border-bottom: solid 1px #ff00ff;
}

.sidebar-cont:hover {
  width: 15rem;
  transition: 0.5s;
}
.sidebar-cont:hover .side-bg-icon {
  display: none;
}
.sidebar-cont:hover .bg-ctrl {
  display: flex;
  height: 4rem;
}
.sidebar-cont:hover .side-layout-icon {
  display: none;
}
.sidebar-cont:hover .side-layout-sel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  gap: 0.5rem;
}
.sidebar-cont:hover .side-page-btn {
  width: auto;
}
.sidebar-cont:hover .side-page-btn .side-page-label {
  display: flex;
}
.sidebar-cont:hover .side-page-btn.active {
  box-shadow: 0 0 10px 5px rgba(134, 134, 134, 0.2470588235);
  padding: 0 2rem;
  border-radius: 20px;
  transition: 0.25s;
}

.mainbody-cont {
  position: relative;
  left: 5rem;
  height: 100vh;
  width: calc(100vw - 5rem);
  overflow-y: auto;
}
.mainbody-cont .page-sect {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainbody-cont .home, .mainbody-cont .home.active {
  position: relative;
  display: grid;
  place-items: center;
  width: 80%;
  height: 55vh;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.05), 6px 6px 15px rgba(0, 0, 0, 0.5);
}
.mainbody-cont .home .home-data, .mainbody-cont .home .home-data.active, .mainbody-cont .home.active .home-data, .mainbody-cont .home.active .home-data.active {
  display: grid;
  grid-template-rows: 40% auto;
  height: 100%;
  width: 100%;
}
.mainbody-cont .sect, .mainbody-cont .sect.active {
  position: relative;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0;
  box-shadow: none;
}
.mainbody-cont .sect .sect-data, .mainbody-cont .sect.active .sect-data {
  display: grid;
  grid-template-rows: 15% auto;
  row-gap: 0.5rem;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
  height: 90%;
  width: 95%;
  overflow: auto;
  opacity: 1;
  margin: 0;
  padding: 0.5rem;
  animation: 0.25s acadActivate forwards;
}
.mainbody-cont .home-btn, .mainbody-cont .sect-btn {
  display: none;
}

.light-mode .side-page-btn a {
  color: #00252e;
}
.light-mode .side-page-btn {
  color: #00252e;
}/*# sourceMappingURL=simple.css.map */