.simp-cont {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.simp-cont.light-mode {
  color: #00252e;
  background: #868686;
}

.sidebar-cont {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 5rem;
  z-index: 15;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.08);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: 0.5s;
}
.sidebar-cont .line {
  width: 55%;
  height: 1px;
  background: #868686;
}

.side-ui-sel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.side-bg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
}
.side-bg-icon i.active {
  color: #ff00ff;
}

.sidebar-cont .bg-ctrl {
  display: none;
}

.side-layout-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff00ff;
  height: 4rem;
}

.side-layout-sel {
  display: none;
}

.side-layout-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  width: 2rem;
  border-radius: 7px;
  transition: 0.25s;
  cursor: pointer;
}

.side-layout-btn:hover {
  box-shadow: 0 0 10px 2px rgba(134, 134, 134, 0.1490196078);
  transition: 0.25s;
}

.side-layout-btn.active {
  color: #ff00ff;
  box-shadow: 0 0 10px 5px rgba(134, 134, 134, 0.2470588235);
  height: 0.5rem;
  width: auto;
  padding: 1rem;
  border-radius: 15px;
}

.side-page-sel {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}

.side-page-btn {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-decoration: none;
  color: #868686;
  transition: 0.25s;
}
.side-page-btn .side-page-label {
  display: none;
}

.side-page-btn:hover {
  box-shadow: 0 0 10px 3px rgba(134, 134, 134, 0.1490196078);
  padding: 0 1.5rem;
  border-radius: 10px;
  transition: 0.25s;
}

.side-page-btn.active .side-page-icon {
  color: #ff00ff;
  border-bottom: solid 1px #ff00ff;
}

.side-page-btn.active .side-page-label {
  border-bottom: solid 1px #ff00ff;
}

.sidebar-cont:hover {
  width: 15rem;
  transition: 0.5s;
}
.sidebar-cont:hover .side-bg-icon {
  display: none;
}
.sidebar-cont:hover .bg-ctrl {
  display: flex;
  height: 4rem;
}
.sidebar-cont:hover .side-layout-icon {
  display: none;
}
.sidebar-cont:hover .side-layout-sel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  gap: 0.5rem;
}
.sidebar-cont:hover .side-page-btn {
  width: auto;
}
.sidebar-cont:hover .side-page-btn .side-page-label {
  display: flex;
}
.sidebar-cont:hover .side-page-btn.active {
  box-shadow: 0 0 10px 5px rgba(134, 134, 134, 0.2470588235);
  padding: 0 2rem;
  border-radius: 20px;
  transition: 0.25s;
}

.mainbody-cont {
  position: relative;
  left: 5rem;
  height: 100vh;
  width: calc(100vw - 5rem);
  overflow-y: auto;
  scroll-behavior: smooth;
}
.mainbody-cont .page-sect {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainbody-cont .home, .mainbody-cont .home.active {
  position: relative;
  display: grid;
  place-items: center;
  width: 80%;
  height: 55vh;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.05), 6px 6px 15px rgba(0, 0, 0, 0.5);
}
.mainbody-cont .home .home-data, .mainbody-cont .home .home-data.active, .mainbody-cont .home.active .home-data, .mainbody-cont .home.active .home-data.active {
  display: grid;
  grid-template-rows: 40% auto;
  height: 100%;
  width: 100%;
}
.mainbody-cont .home-btn, .mainbody-cont .sect-btn {
  display: none;
}
.mainbody-cont .sect, .mainbody-cont .sect.active {
  position: relative;
  transform: rotateY(0deg);
  animation: none;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0;
  box-shadow: none;
}
.mainbody-cont .sect .sect-data, .mainbody-cont .sect.active .sect-data {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 0.5rem;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
  height: 90%;
  width: 95%;
  overflow: auto;
  opacity: 1;
  margin: 0;
  padding: 0.5rem;
}
.mainbody-cont .sect .sect-data .sect-title, .mainbody-cont .sect.active .sect-data .sect-title {
  height: 5rem;
}
.mainbody-cont .timeline, .mainbody-cont .new-timeline {
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.mainbody-cont .node-cont {
  position: relative;
  padding: 0;
  width: 13rem;
  height: 70vh;
  animation: none;
  opacity: 1;
  box-shadow: none;
}
.mainbody-cont .node-data, .mainbody-cont .node-data.active {
  background: transparent;
  box-shadow: none;
  border-radius: 0;
  height: 100%;
  max-height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  cursor: default;
}
.mainbody-cont .node-data p, .mainbody-cont .node-data.active p {
  margin: 0;
}
.mainbody-cont .node-data .acad-year i, .mainbody-cont .node-data.active .acad-year i {
  display: none;
}
.mainbody-cont .acad-year {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50%;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: end;
  justify-content: center;
}
.mainbody-cont .acad-year span, .mainbody-cont .spec-node span {
  border-bottom: none;
  margin: 0;
  padding: 0.5rem;
}
.mainbody-cont .node-body {
  height: 50%;
  width: 100%;
  box-sizing: border-box;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.9rem;
}
.mainbody-cont .node-body p:nth-child(1) {
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 0.5rem;
}
.mainbody-cont .node-body ul {
  margin: 0;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.mainbody-cont .right-node {
  left: 0;
}
.mainbody-cont .right-node .node-data {
  flex-direction: column-reverse;
}
.mainbody-cont .right-node .node-data .acad-year {
  align-items: start;
}
.mainbody-cont .right-node .node-data .node-body {
  justify-content: end;
  padding: 0 0 0.5rem;
}
.mainbody-cont .node-point {
  right: calc(50% - 20px);
  top: calc(50% - 20px);
  cursor: default;
}
.mainbody-cont .right-node .node-point {
  left: calc(50% - 20px);
}
.mainbody-cont .node-point-span {
  width: 100%;
}
.mainbody-cont .node-point:hover div {
  height: 33%;
  width: 33%;
  box-shadow: none;
}
.mainbody-cont .timeline::after, .mainbody-cont .new-timeline::after {
  display: none;
}
.mainbody-cont .skill-cat, .mainbody-cont .skill-cat.active, .mainbody-cont .skill-cat.inactive {
  height: 70vh;
  width: 45%;
  overflow-y: auto;
  background: transparent;
  overflow-y: auto;
  transition: 0.5s;
  cursor: default;
  transition: 0.5s;
}
.mainbody-cont .skill-cat i, .mainbody-cont .skill-cat.active i, .mainbody-cont .skill-cat.inactive i {
  display: none;
}
.mainbody-cont .skill-cat .skill-cat-desc, .mainbody-cont .skill-cat.active .skill-cat-desc, .mainbody-cont .skill-cat.inactive .skill-cat-desc {
  display: none;
}
.mainbody-cont .skill-cat .skill-cat-head, .mainbody-cont .skill-cat.active .skill-cat-head, .mainbody-cont .skill-cat.inactive .skill-cat-head {
  padding: 0.5rem;
  border-radius: 0;
  border-bottom: solid 1px #868686;
  height: initial;
  width: initial;
  transform-origin: initial;
  transform: rotate(0deg);
}
.mainbody-cont .skill-cat .skill-cat-body, .mainbody-cont .skill-cat.active .skill-cat-body, .mainbody-cont .skill-cat.inactive .skill-cat-body {
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.mainbody-cont .page-sect#projects {
  height: -moz-fit-content;
  height: fit-content;
}
.mainbody-cont .projects, .mainbody-cont .projects.active {
  height: auto;
  display: grid;
  height: -moz-fit-content;
  height: fit-content;
}
.mainbody-cont .projects .sect-data, .mainbody-cont .projects.active .sect-data {
  height: -moz-fit-content;
  height: fit-content;
}
.mainbody-cont .proj-info {
  height: -moz-fit-content;
  height: fit-content;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: start;
  flex-direction: column;
}
.mainbody-cont .proj-card, .mainbody-cont .proj-card.active, .mainbody-cont .proj-card.inactive {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 0.75rem;
  height: 15rem;
  width: 100%;
  background: transparent;
  border-radius: 10px;
  box-sizing: border-box;
  visibility: visible;
  cursor: default;
}
.mainbody-cont .proj-card .proj-thumb, .mainbody-cont .proj-card.active .proj-thumb, .mainbody-cont .proj-card.inactive .proj-thumb {
  display: none;
}
.mainbody-cont .proj-card i, .mainbody-cont .proj-card.active i, .mainbody-cont .proj-card.inactive i {
  display: none;
}
.mainbody-cont .proj-card .proj-head, .mainbody-cont .proj-card.active .proj-head, .mainbody-cont .proj-card.inactive .proj-head {
  width: 14rem;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
}
.mainbody-cont .proj-card .proj-head h2, .mainbody-cont .proj-card.active .proj-head h2, .mainbody-cont .proj-card.inactive .proj-head h2 {
  font-size: 1.2rem;
  text-align: center;
}
.mainbody-cont .proj-card .proj-body, .mainbody-cont .proj-card.active .proj-body, .mainbody-cont .proj-card.inactive .proj-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: -moz-fit-content;
  width: fit-content;
  height: 100%;
  margin: 0;
  padding: 0;
}
.mainbody-cont .proj-card .proj-body .proj-disp, .mainbody-cont .proj-card.active .proj-body .proj-disp, .mainbody-cont .proj-card.inactive .proj-body .proj-disp {
  height: 12rem;
  width: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.mainbody-cont .proj-card .proj-body .proj-links, .mainbody-cont .proj-card.active .proj-body .proj-links, .mainbody-cont .proj-card.inactive .proj-body .proj-links {
  margin-top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mainbody-cont .proj-card .proj-body p, .mainbody-cont .proj-card.active .proj-body p, .mainbody-cont .proj-card.inactive .proj-body p {
  width: 25%;
}
.mainbody-cont .proj-card .proj-body .proj-details, .mainbody-cont .proj-card.active .proj-body .proj-details, .mainbody-cont .proj-card.inactive .proj-body .proj-details {
  width: 40%;
}
.mainbody-cont .proj-card .proj-body .proj-details th, .mainbody-cont .proj-card.active .proj-body .proj-details th, .mainbody-cont .proj-card.inactive .proj-body .proj-details th {
  padding: 0.1rem;
}
.mainbody-cont .proj-card .proj-body .proj-details td, .mainbody-cont .proj-card.active .proj-body .proj-details td, .mainbody-cont .proj-card.inactive .proj-body .proj-details td {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}
.mainbody-cont .proj-card .proj-body .proj-details td p, .mainbody-cont .proj-card.active .proj-body .proj-details td p, .mainbody-cont .proj-card.inactive .proj-body .proj-details td p {
  margin: 0;
  padding: 0.1rem;
  box-sizing: border-box;
  width: 100%;
}
.mainbody-cont .proj-card:hover {
  filter: brightness(100%);
}
.mainbody-cont .proj-disp:hover {
  box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.3);
  filter: brightness(70%);
  transition: 0.25s;
}
.mainbody-cont .proj-card.src-card .proj-details {
  border: solid 2px #b1953e;
}
.mainbody-cont .proj-card.src-card .proj-details th {
  border: solid 2px #b1953e;
}
.mainbody-cont .proj-card.src-card .proj-details .proj-roles {
  border-bottom: solid 2px #b1953e;
}
.mainbody-cont .proj-card.src-card .proj-details td p {
  border-bottom: solid 1px #b1953e;
}

.light-mode .side-page-btn a {
  color: #00252e;
}
.light-mode .side-page-btn {
  color: #00252e;
}/*# sourceMappingURL=simple.css.map */