// --- index.css Styles
:root {
     font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
     line-height: 1.5;
     font-weight: 400;

     color-scheme: light dark;
     color: rgba(255, 255, 255, 0.87);
     // background-color: #242424;

     font-synthesis: none;
     text-rendering: optimizeLegibility;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar{
     width: 0.4rem;
     height: 0.4rem;
}

::-webkit-scrollbar-thumb{
     width: 0.3rem;
     height: 0.3rem;
     background: rgba(255, 255, 255, 0.667);
     border-radius: 5px;
}


// @media (prefers-color-scheme: light) {
//      :root {
//           color: #213547;
//           background-color: #ffffff;
//      }
//      a:hover {
//           color: #747bff;
//      }
//      button {
//           background-color: #f9f9f9;
//      }
// }

// @keyframes logo-spin {
//      from {
//           transform: rotate(0deg);
//      }
//      to {
//           transform: rotate(360deg);
//      }
// }

// @media (prefers-reduced-motion: no-preference) {
//      a:nth-of-type(2) .logo {
//           animation: logo-spin infinite 20s linear;
//      }
// }



// ----- Good Stuff

body{
     margin: 0;
     background: #00252e;
     color: #868686;
     overflow: hidden;
}

.def-cont{
     // background: green;
     height: 100vh;
     width: 100vw;
     margin: 0;
     
}
.fa-times-circle-o{
     font-size: 1.7rem;
     display: grid;
     color: #868686;
     transition: 0.5s;
}
.fa-times-circle-o:hover{
     color: red;
     transition: 0.5s;
}

.home{
     position: absolute;
     // color: black;
     display: grid;
     place-items: center;
     width: 5rem;
     height: 5rem;
     left: calc(97% - 5rem);
     top: calc(20vh - 2.5rem);
     transition: 1s;
}
.home.active{
     width: 80%;
     height: 55vh;
     background: #00252e;
     border-radius: 10px;
     // border: dashed black 3px;
     // box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.25),
     //      inset 2px 2px 5px rgba(255, 255, 255, 0.25),
     //      8px 30px 30px rgba(0, 0, 0, 0.4),
     //      inset -2px -2px 5px rgba(0, 0, 0, 0.4);
     box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.05),
          6px 6px 15px rgba(0, 0, 0, 0.5);
     top: 15vh;
     left: 10%;
     transition: 1.5s;
     // background: red;
}

.home-btn{
     // position: absolute;
     z-index: 2;
     // background: white;
     background: #00252e;
     // border: dashed black 3px;
     box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
          2px 2px 6px rgba(0, 0, 0, 0.8);
     // color: black;
     display: grid;
     place-items: center;
     grid-template-rows: 1.5fr 1fr;
     border-radius: 10px;
     width: 5rem;
     height: 5rem;
     cursor: pointer;
     transition: 1s;
     i{
          height: 100%;
          display: grid;
          place-items: center;
          font-size: 2rem;
          // color: magenta;
     }
     p{
          height: 100%;
          display: grid;
          place-items: center;
          font-size: 0.9rem;
          margin: 0;
     }
}
.home-btn.active, .home-btn-ext{
     display: none;
}

.home-data{
     display: none;
     height: 1rem;
     height: 1rem;
     overflow: hidden;
}
.home-data.active{
     display: grid;
     grid-template-rows: 40% auto;
     height: 100%;
     width: 100%;
     // background-color: wheat;
}

.home-title{
     // background: yellow;
     margin: 0;
     display: grid;
     align-items: end;
     margin-bottom: 1rem;
     padding: 0.5rem;
     text-align: center;
     font-size: 2rem;
     
}
.home-info{
     // background: orange;
     display: grid;
     align-items: start;
     padding: 0.5rem 5%;
     font-size: 1.15rem;
}

// Glitchy transition of data-div
.sect{
     position: absolute;
     // color: black;
     // background: red;
     width: 1rem;
     height: 1rem;
     display: grid;
     place-items: center;
     transition: 1s;
}
.sect.active{
     // background: rgb(149, 255, 149);
     // background: transparent;
     width: 100%;
     height: 100vh;
     transition: 1s;
}
.sect .sect-data{
     display: none;
     overflow: hidden;
     height: 1rem;
     opacity: 0;
}
.sect.active .sect-data{
     display: grid;
     grid-template-rows: 15% auto;
     row-gap: 0.5rem;
     // background: blue;
     box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
          5px 5px 15px rgba(0, 0, 0, 0.5);
     height: 90%;
     // width: auto;
     width: calc(91% - 5rem);
     overflow: auto;
     opacity: 1;
     margin-left: 3%;
     margin-right: calc(6% + 5rem);
     padding: 0.5rem;
     
     // transition: 3s;
     animation: 0.25s acadActivate forwards;
}
@keyframes acadActivate{
     0%{
          display: none;
     }
     100%{
          display: grid;
     }
}
.sect-btn{
     position: absolute;
     z-index: 2;
     // background: white;
     background: #00252e;
     // border: dashed black 3px;
     box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
          5px 5px 15px rgba(0, 0, 0, 0.5);
     // color: black;
     display: grid;
     place-items: center;
     grid-template-rows: 1.5fr 1fr;
     border-radius: 10px;
     width: 5rem;
     height: 5rem;
     cursor: pointer;
     transition: 1s;
     i{
          // background: orange;
          height: 100%;
          display: grid;
          place-items: center;
          font-size: 2rem;
     }
     p{
          // background: yellow;
          height: 100%;
          display: grid;
          place-items: center;
          font-size: 0.9rem;
          margin: 0;
     }
}
.sect-btn.active{
     box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
          inset 2px 2px 6px rgba(0, 0, 0, 0.8);
     i{
          color: magenta;
     }
     transition: 0.5s;
     cursor: default;
}

.sect-title{
     // background: greenyellow;
     margin: 0;
     display: grid;
     align-items: end;
     padding: 0.5rem;
     font-size: 2rem;
}

// -- Academics --

.academics{
     left: calc(20% - 2.5rem);
     top: 80vh;
}
.academics.side-sect{
     left: calc(97% - 5rem);
     top: calc(35vh - 2.5rem);
}
.academics.active{
     left: 0;
     top: 0;
}
.acad-btn{
     left: calc(20% - 2.5rem);
     top: 80vh;
}
.acad-btn.side-btn{
     left: calc(97% - 5rem);
     top: calc(35vh - 2.5rem);
}


.academics-info{
     // background: blue;
     padding: 1rem;
     display: grid;
     align-items: start;
     justify-items: center;
}
.timeline{
     // background: purple;
     position: relative;
     // max-width: 1200px;
     width: 700px;
     // margin: 100px auto;
}
.node-cont{
     position: relative;
     padding: 5px 30px;
     // background: rgba(0, 0, 0, 0.249);
     // width: 50%;
     width: calc(350px - 60px);
     animation: moveNode 1s forwards;
     z-index: 4;
     opacity: 0;
}
@keyframes moveNode{
     0%{
          opacity: 1;
          transform: translateY(-30px);
     }
     100%{
          opacity: 1;
          transform: translateY(0px);
     }
}
.node-cont:nth-child(1){
     animation-delay: 0.5s;
}
.node-cont:nth-child(2){
     animation-delay: 1.5s;
}
.node-cont:nth-child(3){
     animation-delay: 2.5s;
}
.node-cont:nth-child(4){
     animation-delay: 3.5s;
}
.node-cont:nth-child(5){
     animation-delay: 4.5s;
}
.node-cont:nth-child(6){
     animation-delay: 6s;
}
.node-data{
     padding: 1px 0.75rem;
     min-height: 3rem;
     background: white;
     border-radius: 10px;
     cursor: pointer;
     p{
          margin: 0.3rem 0 0.5rem;
     }
}

.acad-year{
     margin: 0.5rem 0 0;
     padding-left: 0.5rem;
     width: 100%;
     font-weight: 400;
     font-size: 1rem;
     
     span{
          font-weight: 500;
          font-size: 1.2rem;
          border-bottom: solid magenta 3px;
          padding: 0 0.5rem 0 0.5rem;
          margin-right: 0.5rem;
     }
}
.node-data.active{
     .acad-year{
          i{
               display: none;
          }
     }
     max-height: 50vh;
     transition: 0.5s;
}
.spec-node{
     // h2{
     //      // border-left: solid gold 3px;
     //      // border-bottom: solid gold 3px;
     // }
     .acad-year{
          span{
               border-bottom: solid gold 3px;
          }
     }
}
.spec-node:hover{
     background: rgb(255, 251, 226);
}
.spec-node.active{
     background: rgb(255, 251, 226);
}

.left-node{
     left: 0;
}
.right-node{
     left: 50%;
}
.node-point{
     position: absolute;
     display: grid;
     place-items: center;
     background: magenta;
     width: 40px;
     height: 40px;
     border-radius: 50%;
     right: -20px;
     top: calc(50% - 20px);
     box-sizing: border-box;
     z-index: 10;
     transition: 0.5s ease;
     cursor: pointer;
     div{
          background: gold;
          height: 33%;
          width: 33%;
          border-radius: 50%;
          box-shadow:  0px 0px 5px gold;
          transition: 0.5s;
          cursor: pointer;
     }
}
.right-node .node-point{
     left: -20px;
}
.node-point-span{
     position: absolute;
     height: 3px;
     width: 30px;
     // background: white;
     background: magenta;
     right: 0;
     top: calc(50% - 1.5px);;
     transition: 0.5s ease;
}
.right-node .node-point-span{
     left: 0px;
}
.node-point:hover{
     div{
          height: 100%;
          width: 100%;
          box-shadow:  0px 0px 10px gold;
          transition: 0.5s;
     }
}

.timeline::after{
     content: '';
     position: absolute;
     width: 6px;
     border-radius: 3px;
     // height: 20vh;
     // height: calc(100% - 140px);
     margin-top: 33px;

     // margin-bottom: 35px;
     // background: white;
     background: magenta;
     top: 0;
     left: calc(50% - 3px);
     z-index: 3;
     animation: timeline 6s linear forwards;
}
@keyframes timeline{
     0%{height: 0;}
     100%{height: calc(100% - 70px);}
     // 100%{height: calc(100% - 160px);}
}

.new-timeline{
     position: relative;
     width: 700px;
}
.new-timeline::after{
     content: '';
     position: absolute;
     width: 6px;
     border-radius: 3px;
     height: calc(100% - 160px);
     margin-top: 33px;
     background: magenta;
     top: 0;
     left: calc(50% - 3px);
     z-index: 3;
     // animation: newTimeline 6s linear forwards;
}
@keyframes newTimeline{
     0%{height: 0;}
     100%{height: calc(100% - 160px);}
}

// -- Skills --
.skills{
     left: calc(40% - 2.5rem);
     top: 80vh;
}
.skills.side-sect{
     left: calc(97% - 5rem);
     top: calc(50vh - 2.5rem);
}
.skills.active{
     left: 0;
     top: 0;
}
.skill-btn{
     left: calc(40% - 2.5rem);
     top: 80vh;
}
.skill-btn.side-btn{
     left: calc(97% - 5rem);
     top: calc(50vh - 2.5rem);
}

.skill-info{
     // background: blue;
     padding: 1rem;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
}
.skill-cat{
     // background: red;
     transition: 0.5s;
     cursor: pointer;
     display: flex;
     flex-direction: column;
     height: 15rem;
     width: 25rem;
     padding: 0.5rem;
     border: dashed 3px #868686;
     border-radius: 10px;
     i{
          display: none;
     }
     .skill-cat-desc{
          display: block;
     }
     .skill-cat-body{
          display: none;
     }
}
.skill-cat:hover{
     height: 18rem;
     width: 30rem;
     background: rgba(255, 255, 255, 0.05);
}
.skill-cat.active{
     // background: green;
     height: 90%;
     width: 85%;
     transition: 0.5s;
     i{
          display: grid;
     }
     .skill-cat-desc{
          display: none;
     }
     .skill-cat-head{
          padding: 0.5rem;
          border-radius: 0;
          border-bottom: solid 1px #868686;
     }
     .skill-cat-body{
          height: 80%;
          // background: blue;
          display: grid;
          padding: 1rem;
          grid-template-columns: repeat(4, 1fr);
          grid-auto-rows: 4rem;
          transition: 0.5s;
          gap: 1rem;
     }
     cursor: default;
}
.skill-cat.active:hover{
     background: transparent;
}
.skill-cat.inactive{
     height: 15rem;
     width: 4rem;
     transition: 0.5s;
     i{
          display: none;
     }
     .skill-cat-desc{
          display: none;
     }
     .skill-cat-body{
          display: none;
     }
     .skill-cat-head{
          width: 15rem;
          height: 4rem;
          transform-origin: 7.5rem 7.5rem;
          transform: rotate(-90deg);
     }
     cursor: pointer;
}
.skill-cat-head{
     // background: purple;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-between;
     h2{
          margin: 0;
     }
     i{
          cursor: pointer;
     }
     transition: 0.5s;
}

.skill-cat-nodule{
     background: rgba(255, 255, 255, 0.87);
     padding: 0.5rem 0.5rem;
     border-radius: 25px;
     display: grid;
     place-items: center;
     transition: 0.15s ease-in;
}
.skill-cat-nodule:hover{
     background: rgb(209, 209, 209);
     box-shadow:  0px 0px 10px rgb(209, 209, 209);
     font-size: 1.13rem;
     color: magenta;
     transition: 0.15s;
}


// -- Projects --
.projects{
     left: calc(60% - 2.5rem);
     top: 80vh;
}
.projects.side-sect{
     left: calc(97% - 5rem);
     top: calc(65vh - 2.5rem);
}
.projects.active{
     left: 0;
     top: 0;
}
.proj-btn{
     left: calc(60% - 2.5rem);
     top: 80vh;
}
.proj-btn.side-btn{
     left: calc(97% - 5rem);
     top: calc(65vh - 2.5rem);
}

.projects.active .sect-data{
     // background: green;
     // border: solid 2px green;
     height: 90vh;
     padding: 0.5rem;
     overflow-y: hidden;
     display: block !important;

     // display: flex;
     // flex-direction: column;
     // align-items: center;
     // justify-content: center;
     transition: 0.5s;

     .sect-title{
          // background: orange;
          // border: solid 2px orange;
          height: 6vh;
          margin: 0;
     }
}
.proj-info{
     margin: 0;
     height: 77vh;
     max-height: 77vh;
     // border: solid 2px blue;
     // width: 100%;
     display: grid;
     // overflow-y: auto;
     // place-items: center;
     align-items: center;
     justify-items: center;
     padding: 0.25rem;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem;
}
.proj-info.active{
     grid-template-columns: repeat(1, 1fr);
}
.proj-card{
     // background: red;
     // background: #868686;
     margin: 0;
     transition: 0.5s;
     cursor: pointer;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 16rem;
     width: 24rem;
     // padding: 0.5rem;
     border: dashed 3px #868686;
     border-radius: 10px;
     i{
          display: none;
     }
     .proj-head{
          justify-content: center;
     }
     .proj-thumb{
          display: block;
     }
     .proj-body{
          display: none;
     }
}
.proj-card:nth-child(1){
     border: dashed 3px #b1953e;
     .proj-head{
          color: #b1953e;
     }
     i{
          color: #b1953e;
     }
     i:hover{
          color: red;
     }
}
.proj-card:hover{
     height: 16.5rem;
     width: 24.8rem;
     background: rgba(255, 255, 255, 0.05);
}
.proj-card.active{
     // background: green;
     background: transparent;
     height: 72vh;
     width: 80vw;
     align-items: center;
     // width: 100vw;
     // border: dashed 3px magenta;
     border-radius: 0;
     padding: 0.4rem;
     transition: 0.5s;
     // overflow-y: auto;
     i{
          display: grid;
     }
     .proj-head{
          width: 95%;
          justify-content: space-between;
          padding: 0.25rem;
          margin-bottom: 0.25rem;
          border-radius: 0;
          border-bottom: solid 1px #868686;
     }
     .proj-thumb{
          display: none;
     }
     .proj-body{
          display: grid;
          width: 80%;
          place-items: center;
          overflow-y: auto;
     }
     cursor: default;
}
.proj-thumb{
     border-top-left-radius: 6px;
     border-top-right-radius: 6px;
     width: 100%;
     height: auto;
}
.proj-head{
     // background: purple;
     display: flex;
     flex-direction: row;
     align-items: center;
     border-bottom-left-radius: 6px;
     border-bottom-right-radius: 6px;
     // padding: 0.25rem;
     i{
          cursor: pointer;
     }
     h2{
          margin: 0;
     }
     transition: 0.5s;
}

.proj-disp{
     // background: pink;
     height: calc(40vw * 0.5625);
     width: 40vw;
     box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05),
          5px 5px 15px rgba(0, 0, 0, 0.5);
     transition: 0.25s;
     cursor: pointer;
}
.proj-disp:hover{
     box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.3);
     filter: brightness(70%);
     transition: 0.25s;
}
.proj-links{
     margin-top: 0.5rem;
     // border: solid 2px brown;
     // padding: 0.5rem;
     height: 2.5rem;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     a{
          text-decoration: none;
          color: #868686;
          border-bottom: solid 2px magenta;
          padding: 0 0.5rem;
          border-radius: 0px;
          transition: 0.5s ease-in-out;
     }
     a:hover{
          background: rgba(255, 0, 255, 0.1);
          border-radius: 10px;
          transition: 0.2s;
     }
}
.proj-details{
     width: 95%;
     border: solid 2px #868686;
     border-collapse: collapse;
     th{
          border: solid 2px #868686;
          padding: 0.5rem;
          // padding: 0;
     }
     .proj-roles{
          border-bottom: solid 2px #868686;
     }
     td{
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0;
          p{
               border-bottom: solid 1px #868686;
               margin: 0;
               padding: 0.5rem;
          }
     }
}
.proj-card:nth-child(1) .proj-details{
     border: solid 2px #b1953e;
     th{
          border: solid 2px #b1953e;
     }
     .proj-roles{
          border-bottom: solid 2px #b1953e;
     }
     td{
          p{
               border-bottom: solid 1px #b1953e;
          }
     }
     
}

.proj-card.inactive{
     // background: green;
     height: 0;
     width: 0;
     // padding: 0;
     // border: none;
     display: none;
     visibility: hidden;
     transition: 0.5s;
     i{
          display: none;
     }
     .proj-thumb{
          display: none;
     }
     .proj-body{
          display: none;
     }
     .proj-head{
          display: none;
     }
     // cursor: pointer;
}

// -- Contacts --
.contact{
     left: calc(80% - 2.5rem);
     top: 80vh;
}
.contact.side-sect{
     left: calc(97% - 5rem);
     top: calc(80vh - 2.5rem);
}
.contact.active{
     left: 0;
     top: 0;
}
.contact-btn{
     left: calc(80% - 2.5rem);
     top: 80vh;
}
.contact-btn.side-btn{
     left: calc(97% - 5rem);
     top: calc(80vh - 2.5rem);
}
.contact-info{
     // background: blue;
     padding: 1rem;
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: start;
}
.contact-links{
     border: solid 1px #868686;
     align-self: center;
     a{
          text-decoration: none;
          color: #868686;
          border-bottom: solid 1px magenta;
     }
     i{
          font-size: 1.7rem;
          cursor: pointer;
          transition: 0.2s;
     }
     th{
          width: 3rem;
          padding: 0.5rem;
     }
     td{
          padding: 0.5rem;
     }
     .fa-external-link{
          margin-left: 0.5rem;
          font-size: 1.1rem;
          visibility: hidden;
          opacity: 0;
     }
}
.contacts:hover{
     i{
          color: magenta;
          transition: 0.2s;
     }
     .fa-external-link{
          color: #868686;
          visibility: visible;
          opacity: 1;
     }
}

.resume-link{
     margin-top: 0.5rem;
     height: 2.5rem;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     a{
          text-decoration: none;
          color: #868686;
          border-bottom: solid 2px magenta;
          padding: 0 0.5rem;
          border-radius: 0px;
          transition: 0.5s ease-in-out;
     }
     a:hover{
          background: rgba(255, 0, 255, 0.1);
          // color: #868686;/
          border-radius: 10px;
          transition: 0.2s;
     }
}
.p-source-link{
     margin-top: 1rem;
     height: 2.5rem;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     gap: 2rem;
     a{
          text-decoration: none;
          color: #868686;
          border-bottom: solid 2px magenta;
          padding: 0 0.5rem;
          border-radius: 0px;
          transition: 0.5s ease-in-out;
     }
     a:hover{
          background: rgba(255, 0, 255, 0.1);
          // color: #868686;/
          border-radius: 10px;
          transition: 0.2s;
     }
}


// ----- Responsive Design -----
@media screen and (max-width: 900px){
     // .timeline{
     //      // margin: 50px auto;
     // }
     .timeline::after{
          left: 31px;
     }
     .new-timeline::after{
          left: 31px;
     }
     .node-cont{
          // width: 100%;
          // width: calc(350px - 60px);
          padding-left: 80px;
          padding-right: 25px;
          // padding: 5px 30px;
          // font-size: 13px;
     }
     .right-node{
          left: 0;
     }
     .left-node .node-point, .right-node .node-point{
          left: 14px;
          
     }
     .left-node .node-point-span, .right-node .node-point-span{
          left: 50px;
     }
}

@media screen and (max-width: 450px){
     .home{
          display: none;
     }
     .home.active{
          display: grid;
          // background: yellowgreen;
          height: 75vh;
          top: 5vh;
     }
     
     .home-btn-ext{
          position: absolute;
          z-index: 2;
          background: #00252e;
          display: grid;
          place-items: center;
          grid-template-rows: 1.5fr 1fr;
          cursor: pointer;
          transition: 1s;
          i{
               display: grid;
               place-items: center;
          }
          p{
               display: grid;
               place-items: center;
               margin: 0;
          }
          left: calc(15% - 2rem);
     }
     .acad-btn{
          left: calc(32.5% - 2rem) !important;
          // background: red;
     }
     .skill-btn{
          left: calc(50% - 2rem) !important;
     }
     .proj-btn{
          left: calc(67.5% - 2rem) !important;
     }
     .contact-btn{
          left: calc(85% - 2rem) !important;
     }
     .home-btn-ext, .sect-btn{
          box-shadow: none;
          // box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1),
          //      2px 2px 6px rgba(0, 0, 0, 0.8);
          
          border-radius: 50%;
          width: 4rem;
          height: 4rem;
          top: 83.5vh !important;

          i{
               align-self: end;
               height: 1.5rem;
               font-size: 1.5rem;
               // background: red;
          }
          p{
               // background: orange;
               align-self: start;
               // display: grid;
               height: 0.8rem;
               font-size: 0.6rem;
               // display: none;
          }
     }
     .home-btn-ext.active{
          box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
               inset 2px 2px 6px rgba(0, 0, 0, 0.8);
          i{
               color: magenta;
          }
          transition: 0.5s;
          cursor: default;
     }
     .home-data.active{
          grid-template-rows: 30% auto;
     }
     .home-title{
          margin: 0;
          align-self: end;
          font-size: 1.5rem;
     }
     .home-info{
          align-self: start;
          font-size: 1rem;
     }
     .sect.active{
          height: 75vh;
          top: 5vh;
          font-size: 1rem;
          transition: 1s;
     }
     .sect.active .sect-data{
          grid-template-rows: 7% auto;
          row-gap: 0.5rem;
          // background: blue;
          height: 100%;
          width: 80%;
          margin: 0;
     }
     .sect-title{
          width: fit-content;
          align-items: end;
          padding: 0.5rem;
          font-size: 1.5rem;
     }

     .timeline{
          width: fit-content;
     }

     .timeline::after{
          width: 4px;
          left: 0;
     }
     .new-timeline::after{
          width: 4px;
          left: 0;
     }

     .left-node .node-point, .right-node .node-point {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          left: calc(-10px + 2px);
          top: calc(50% - 10px);
     }
     .left-node .node-point-span, .right-node .node-point-span{
          left: 12px;
     }
     .node-cont{
          padding-left: 25px;
          padding-right: 0;
          width: calc(100% - 25px);
     }
     .node-point-span{
          width: 13px;
          top: calc(50% - 1.5px);
     }

     .node-data{
          padding: 1px 0.75rem;
          // height: vh;
          background: white;
          border-radius: 10px;
          h2{
               margin: 0.1rem 0 0;
               padding-left: 0.5rem;
               // width: 50%;
               // border-bottom: solid magenta 3px;
          }
          p{
               margin: 0.1rem 0 0.5rem;
          }
     }
}


// --2-- Pros of this styling:
// allows for proper tab arrangment
// could auto align tabs if the their arrangement changes

// --- Cons:
// removes flexibility for animation
// causes weirdness for the active tab 
     // (which is still connected the other tabs)

// --- Solutions: 
// reserve this styling for the simplified variant of the web app


// .def-cont{
//      position: absolute;
//      background: green;
//      height: 15vh;
//      width: 80vw;
//      top: 75vh;
//      left: 10vw;
//      margin: 0;
//      display: flex;
//      flex-direction: row;
//      align-items: center;
//      justify-content: space-around;
// }
// .sect{
//      background: white;
//      color: black;
//      border: 1px solid;
//      width: 5rem;
//      height: 5rem;
//      top: 80vh;
//      display: grid;
//      place-items: center;
//      // transition: 1.5s;
// }
// .sect.active{
//      position: absolute;
//      background: red;
//      width: 90%;
//      height: 55vh;
//      top: -65vh;
//      left: 5%;
// }