:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background: #00252e;
  color: #868686;
  overflow: hidden;
}

.def-cont {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.home {
  position: absolute;
  display: grid;
  place-items: center;
  width: 5rem;
  height: 5rem;
  transition: 1s;
}

.home.active {
  width: 80%;
  height: 55vh;
  background: #00252e;
  border-radius: 10px;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.05), 6px 6px 15px rgba(0, 0, 0, 0.5);
  top: 15vh;
  left: 10%;
  transition: 1.5s;
}

.home-btn {
  z-index: 2;
  background: #00252e;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
  display: grid;
  place-items: center;
  grid-template-rows: 1.5fr 1fr;
  border-radius: 10px;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: 1s;
}
.home-btn i {
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 2rem;
}
.home-btn p {
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  margin: 0;
}

.home-btn.active {
  display: none;
}

.home-data {
  display: none;
  height: 1rem;
  height: 1rem;
  overflow: hidden;
}

.home-data.active {
  display: grid;
  grid-template-rows: 40% auto;
  height: 100%;
  width: 100%;
}

.home-title {
  margin: 0;
  display: grid;
  align-items: end;
  margin-bottom: 1rem;
  padding: 0.5rem;
  text-align: center;
  font-size: 2rem;
}

.home-info {
  display: grid;
  align-items: start;
  padding: 0.5rem 5%;
  font-size: 1.15rem;
}

.sect {
  position: absolute;
  width: 1rem;
  height: 1rem;
  display: grid;
  place-items: center;
  transition: 1s;
}

.sect.active {
  width: 100%;
  height: 100vh;
  transition: 1s;
}

.sect .sect-data {
  display: none;
  overflow: hidden;
  height: 1rem;
  opacity: 0;
}

.sect.active .sect-data {
  display: grid;
  grid-template-rows: 15% auto;
  row-gap: 0.5rem;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
  height: 90%;
  width: calc(91% - 5rem);
  overflow: auto;
  opacity: 1;
  margin-left: 3%;
  margin-right: calc(6% + 5rem);
  padding: 0.5rem;
  animation: 0.25s acadActivate forwards;
}

@keyframes acadActivate {
  0% {
    display: none;
  }
  100% {
    display: grid;
  }
}
.sect-btn {
  position: absolute;
  z-index: 2;
  background: #00252e;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  grid-template-rows: 1.5fr 1fr;
  border-radius: 10px;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  transition: 1s;
}
.sect-btn i {
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 2rem;
}
.sect-btn p {
  height: 100%;
  display: grid;
  place-items: center;
  font-size: 0.9rem;
  margin: 0;
}

.sect-btn.active {
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  cursor: default;
}

.sect-title {
  margin: 0;
  display: grid;
  align-items: end;
  padding: 0.5rem;
  font-size: 2rem;
}

.academics-info {
  padding: 1rem;
  display: grid;
  align-items: start;
  justify-items: center;
}

.timeline {
  position: relative;
  width: 700px;
}

.node-cont {
  position: relative;
  padding: 5px 30px;
  width: 290px;
  animation: moveNode 1s forwards;
  z-index: 4;
  opacity: 0;
}

@keyframes moveNode {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
.node-cont:nth-child(1) {
  animation-delay: 0.5s;
}

.node-cont:nth-child(2) {
  animation-delay: 1.5s;
}

.node-cont:nth-child(3) {
  animation-delay: 2.5s;
}

.node-cont:nth-child(4) {
  animation-delay: 3.5s;
}

.node-cont:nth-child(5) {
  animation-delay: 4.5s;
}

.node-cont:nth-child(6) {
  animation-delay: 6s;
}

.node-data {
  padding: 1px 0.75rem;
  background: white;
  border-radius: 10px;
}
.node-data h2 {
  margin: 0.5rem 0 0;
  padding-left: 0.5rem;
  width: 50%;
  border-bottom: solid magenta 3px;
}
.node-data p {
  margin: 0.3rem 0 0.5rem;
}
.node-data ul {
  display: none;
  height: 0;
  transition: 0.5s;
}

.spec-node h2 {
  border-left: solid rgb(255, 242, 0) 3px;
  border-bottom: solid rgb(255, 242, 0) 3px;
}

.node-data.active i {
  display: none;
}
.node-data.active ul {
  display: block;
  height: auto;
  transition: 0.5s;
}

.left-node {
  left: 0;
}

.right-node {
  left: 50%;
}

.node-point {
  position: absolute;
  display: grid;
  place-items: center;
  background: magenta;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  box-sizing: border-box;
  z-index: 10;
  transition: 0.5s ease;
}
.node-point div {
  background: rgb(255, 242, 0);
  height: 33%;
  width: 33%;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgb(255, 242, 0);
  transition: 0.5s;
  cursor: pointer;
}

.right-node .node-point {
  left: -20px;
}

.node-point-span {
  position: absolute;
  height: 3px;
  width: 30px;
  background: magenta;
  right: 0;
  top: 52px;
  transition: 0.5s ease;
}

.right-node .node-point-span {
  left: 0px;
}

.node-point:hover div {
  height: 100%;
  width: 100%;
  box-shadow: 0px 0px 10px rgb(255, 242, 0);
  transition: 0.5s;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  border-radius: 3px;
  margin-top: 33px;
  background: magenta;
  top: 0;
  left: calc(50% - 3px);
  z-index: 3;
  animation: timeline 6s linear forwards;
}

@keyframes timeline {
  0% {
    height: 0;
  }
  100% {
    height: calc(100% - 70px);
  }
}
.skill-info {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.skill-cat {
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 25rem;
  padding: 0.5rem;
  border: dashed 3px #868686;
  border-radius: 10px;
}
.skill-cat i {
  display: none;
}
.skill-cat .skill-cat-desc {
  display: block;
}
.skill-cat .skill-cat-body {
  display: none;
}

.skill-cat:hover {
  height: 15.4rem;
  width: 25.4rem;
}

.skill-cat.active {
  height: 90%;
  width: 85%;
  transition: 0.5s;
  cursor: default;
}
.skill-cat.active i {
  display: grid;
}
.skill-cat.active .skill-cat-desc {
  display: none;
}
.skill-cat.active .skill-cat-body {
  background: blue;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.skill-cat.inactive {
  height: 15rem;
  width: 4rem;
  transition: 0.5s;
  cursor: pointer;
}
.skill-cat.inactive i {
  display: none;
}
.skill-cat.inactive .skill-cat-desc {
  display: none;
}
.skill-cat.inactive .skill-cat-body {
  display: none;
}
.skill-cat.inactive .skill-cat-head {
  width: 15rem;
  height: 4rem;
  transform-origin: 7.5rem 7.5rem;
  transform: rotate(-90deg);
}

.skill-cat-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s;
}
.skill-cat-head i {
  cursor: pointer;
}

.skill-cat-nodule {
  background: yellow;
  flex: 0 1 7rem;
  padding: 1rem 0.5rem;
  border-radius: 25px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.skill-cat-nodule.active {
  display: grid;
  align-items: start;
  place-content: center;
  flex: 1 1 50%;
  width: 50%;
  height: 80%;
  cursor: default;
}

.projects.active .sect-data {
  height: 90vh;
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.projects.active .sect-data .sect-title {
  height: 6vh;
  margin: 0;
}

.proj-info {
  height: 70vh;
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.proj-card {
  transition: 0.5s;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 15rem;
  width: 25rem;
  padding: 0.5rem;
  border: dashed 3px #868686;
  border-radius: 10px;
}
.proj-card i {
  display: none;
}
.proj-card .proj-thumb {
  display: block;
}
.proj-card .proj-body {
  display: none;
}

.proj-card:hover {
  height: 15.4rem;
  width: 25.4rem;
}

.proj-card.active {
  height: 100%;
  width: 100%;
  padding: 0;
  transition: 0.5s;
  overflow-y: auto;
  cursor: default;
}
.proj-card.active i {
  display: grid;
}
.proj-card.active .proj-thumb {
  display: none;
}
.proj-card.active .proj-body {
  display: grid;
  place-items: center;
}

.proj-thumb {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 70%;
  width: 100%;
}

.proj-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  transition: 0.5s;
}
.proj-head i {
  cursor: pointer;
}

.proj-disp {
  height: 28.125vw;
  width: 50vw;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.05), 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.proj-card.inactive {
  height: 0;
  width: 0;
  display: none;
  visibility: hidden;
  transition: 0.5s;
}
.proj-card.inactive i {
  display: none;
}
.proj-card.inactive .proj-thumb {
  display: none;
}
.proj-card.inactive .proj-body {
  display: none;
}
.proj-card.inactive .proj-head {
  display: none;
}

.contact-info {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contacts {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.contacts i {
  margin-right: 0.25rem;
}

@media screen and (max-width: 900px) {
  .timeline::after {
    left: 31px;
  }
  .node-cont {
    padding-left: 80px;
    padding-right: 25px;
  }
  .right-node {
    left: 0;
  }
  .left-node .node-point, .right-node .node-point {
    left: 14px;
  }
  .left-node .node-point-span, .right-node .node-point-span {
    left: 50px;
  }
}/*# sourceMappingURL=style.css.map */