:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.4rem;
}

::-webkit-scrollbar-thumb {
  width: 0.3rem;
  height: 0.3rem;
  background: rgba(255, 255, 255, 0.6666666667);
  border-radius: 5px;
}

body {
  margin: 0;
  background: #00252e;
  color: #868686;
  overflow: hidden;
}

.fa-times-circle-o {
  font-size: 1.7rem;
  display: grid;
  color: #868686;
  transition: 0.5s;
}

.fa-times-circle-o:hover {
  color: red;
  transition: 0.5s;
}

.float-menu-cont {
  position: absolute;
  top: 6.5vh;
  right: 3.75vw;
  z-index: 10;
  width: 3rem;
  height: 3rem;
  max-width: 3rem;
  max-height: 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: start;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: -2px -2px 6px rgba(255, 255, 255, 0.1), 2px 2px 6px rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  transition: 0.5s;
}

.menu-toggle {
  flex-shrink: 0;
  height: 3rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s;
}

.tripbar {
  width: 2rem;
  height: 1.5px;
  border-radius: 2px;
  background: #868686;
  position: relative;
}

.tripbar:before, .tripbar:after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: #868686;
  transform: translateY(-10px);
  transition: 0.5s;
}

.tripbar:after {
  transform: translateY(10px);
}

.menu-body {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem 1rem;
}

.float-menu-cont.active {
  width: auto;
  height: auto;
  max-width: 20rem;
  max-height: 10rem;
  display: flex;
  align-items: flex-end;
  justify-content: start;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.01);
}
.float-menu-cont.active .menu-toggle:hover {
  border-radius: 10px;
  filter: brightness(200%);
}
.float-menu-cont.active .tripbar {
  background-color: transparent;
}
.float-menu-cont.active .tripbar:before {
  width: 1.5rem;
  transform: rotate(360deg);
  transform: translateY(0) rotate(135deg);
}
.float-menu-cont.active .tripbar:after {
  width: 1.5rem;
  transform: rotate(360deg);
  transform: translateY(0) rotate(225deg);
}

.bg-ctrl {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.3rem;
       column-gap: 0.3rem;
}
.bg-ctrl i.active {
  color: #ff00ff;
}

.bg-toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
}
.bg-toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.bg-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 28px;
  background: #868686;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  transition: 1s;
}

.bg-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  border-radius: 50%;
  background: #00252e;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.5), -3px -3px 5px rgba(255, 255, 255, 0.05);
  transition: 1s;
}

input:checked + .bg-slider {
  background: #00252e;
}

input:checked + .bg-slider:before {
  background: #868686;
  transform: translateX(31px);
}

.layout-ctrl-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}

.layout-ctrl {
  padding: 0.25rem 0.75rem;
  background: #00252e;
  border-radius: 10px;
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.05), 1px 1px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.5s;
}

.layout-ctrl:hover {
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.05), 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.layout-ctrl.active {
  color: #ff00ff;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
  transition: 0.5s;
}

.light-mode .tripbar, .light-mode .tripbar:before, .light-mode .tripbar:after {
  background: #00252e;
}
.light-mode .bg-ctrl .bg-slider {
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.2), 6px 6px 20px rgba(70, 70, 70, 0.4), inset -6px -6px 20px rgba(255, 255, 255, 0.2), inset 6px 6px 20px rgba(70, 70, 70, 0.4);
}
.light-mode .bg-ctrl i {
  color: #00252e;
}
.light-mode .bg-ctrl i.active {
  color: #ff00ff;
}
.light-mode .layout-ctrl {
  box-shadow: -1px -1px 5px rgba(255, 255, 255, 0.2), 1px 1px 5px rgba(0, 0, 0, 0.4);
  background: #868686;
  color: #00252e;
}
.light-mode .layout-ctrl:hover {
  box-shadow: -4px -4px 10px rgba(255, 255, 255, 0.2), 4px 4px 10px rgba(70, 70, 70, 0.4);
}
.light-mode .layout-ctrl.active {
  color: #ff00ff;
  box-shadow: inset -6px -6px 20px rgba(255, 255, 255, 0.2), inset 6px 6px 20px rgba(70, 70, 70, 0.4);
}

.light-mode ::-webkit-scrollbar-thumb {
  background: #00252e;
}
.light-mode .home.active {
  color: #00252e;
  background: #868686;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.2), 6px 6px 20px rgba(70, 70, 70, 0.4);
}
.light-mode .home-btn, .light-mode .home-btn-ext, .light-mode .sect-btn {
  color: #00252e;
  background: #868686;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.2), 6px 6px 20px rgba(70, 70, 70, 0.4);
}
.light-mode .home-btn.active, .light-mode .home-btn-ext.active, .light-mode .sect-btn.active {
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.2), 6px 6px 20px rgba(70, 70, 70, 0.4), inset -6px -6px 20px rgba(255, 255, 255, 0.2), inset 6px 6px 20px rgba(70, 70, 70, 0.4);
}
.light-mode .sect.active .sect-data {
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.2), 6px 6px 20px rgba(70, 70, 70, 0.4);
}
.light-mode .node-data {
  background: #868686;
  color: #00252e;
  box-shadow: -6px -6px 20px rgba(255, 255, 255, 0.2), 6px 6px 20px rgba(70, 70, 70, 0.4);
}
.light-mode .spec-node:hover, .light-mode .spec-node.active {
  background: rgba(255, 251, 226, 0.15);
}
.light-mode .skill-cat {
  border: dashed 3px #00252e;
}
.light-mode .skill-cat-nodule {
  background: #00252e;
  color: #868686;
}
.light-mode .skill-cat-nodule:hover {
  background: #002c37;
  box-shadow: 0px 0px 10px #002c37;
  color: #ff00ff;
}
.light-mode .proj-card {
  border: dashed 3px #00252e;
}
.light-mode .proj-card.src-card {
  border: dashed 3px #b1953e;
}
.light-mode .proj-card.active .proj-head {
  border-bottom: solid 1px #00252e;
}
.light-mode .proj-details {
  border: solid 2px #00252e;
}
.light-mode .proj-details th, .light-mode .proj-details .proj-roles {
  border: solid 2px #00252e;
}
.light-mode .proj-details td p {
  border-bottom: solid 1px #00252e;
}
.light-mode .proj-card.src-card .proj-details .proj-roles {
  border: solid 2px #b1953e;
}
.light-mode .fa-times-circle-o {
  color: #00252e;
}
.light-mode .contact-links {
  border: solid 1px #00252e;
}
.light-mode .contact-links a {
  color: #00252e;
}
.light-mode .proj-links a {
  color: #00252e;
}
.light-mode .resume-link a {
  color: #00252e;
}
.light-mode .p-source-link a {
  color: #00252e;
}

@media screen and (max-width: 900px) {
  .layout-ctrl-cont {
    display: none;
  }
  .timeline::after {
    left: 31px;
  }
  .new-timeline::after {
    left: 31px;
  }
  .right-node {
    left: 0;
  }
  .left-node .node-point, .right-node .node-point {
    left: 14px;
  }
  .left-node .node-point-span, .right-node .node-point-span {
    left: 50px;
  }
  .skill-cat, .skill-cat:hover {
    width: 85%;
    height: 11rem;
  }
  .home-data {
    grid-template-rows: 30% auto;
  }
  .home-title::after {
    width: 60%;
  }
  .home-info {
    overflow-y: auto;
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 450px) {
  ::-webkit-scrollbar {
    width: 0.15rem;
    height: 0.15rem;
  }
  ::-webkit-scrollbar-thumb {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 3px;
  }
  .side-btn-housing .float-menu-cont {
    top: -3.6rem;
    right: -3rem;
  }
  .home {
    display: none;
  }
  .home-data {
    grid-template-rows: 25% auto;
    top: 0rem;
    left: calc(-100vw + 11rem);
  }
  .home-data.home-data.active {
    height: calc(100% - 10rem);
    width: calc(100vw - 2rem);
    border-radius: 10px;
    box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.05), 6px 6px 15px rgba(0, 0, 0, 0.5);
  }
  .home-title::after {
    width: 80%;
  }
  .home-title {
    margin: 0;
    align-self: end;
    font-size: 1.5rem;
  }
  .home-info {
    width: calc(100vw - (2rem + 6vw));
  }
  .home-btn-ext {
    position: absolute;
    z-index: 2;
    background: #00252e;
    display: grid;
    place-items: center;
    grid-template-rows: 1.5fr 1fr;
    cursor: pointer;
    transition: 1s;
    left: calc(15% - 2rem);
  }
  .home-btn-ext i {
    display: grid;
    place-items: center;
  }
  .home-btn-ext p {
    display: grid;
    place-items: center;
    margin: 0;
  }
  .sect-btn {
    right: 0;
    display: grid;
    place-items: center;
  }
  .sect-btn.side-btn i, .sect-btn:not(.side-btn) i {
    align-self: end;
    width: -moz-fit-content;
    width: fit-content;
    height: 1.5rem;
    font-size: 1.5rem;
    background: transparent;
  }
  .sect-btn.side-btn p, .sect-btn:not(.side-btn) p {
    position: relative;
    display: grid;
    place-items: center;
    align-self: start;
    width: -moz-fit-content;
    width: fit-content;
    height: 0.8rem;
    font-size: 0.6rem;
    margin: 0;
    z-index: 1;
    bottom: 0 !important;
  }
  .sect-btn.side-btn:not(.active):hover, .sect-btn:not(.side-btn):not(.active):hover {
    filter: brightness(100%);
    width: 4rem;
    gap: initial;
    padding-right: 0;
    right: initial;
  }
  .sect-btn.side-btn:not(.active):hover p, .sect-btn:not(.side-btn):not(.active):hover p {
    width: -moz-fit-content;
    width: fit-content;
  }
  .sect-btn.side-btn.active, .sect-btn:not(.side-btn).active {
    filter: brightness(100%);
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    cursor: default;
  }
  .sect-btn.side-btn.active i, .sect-btn:not(.side-btn).active i {
    color: #ff00ff;
  }
  .sect-btn.side-btn:not(.active), .sect-btn:not(.side-btn):not(.active) {
    filter: brightness(100%);
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1), inset 1px 1px 3px rgba(255, 255, 255, 0.1);
    transition: 0.5s;
    cursor: pointer;
  }
  .sect-btn.acad-btn:not(.side-btn), .sect-btn.acad-btn.side-btn {
    top: calc(100% - 8rem);
    left: 0;
    transform: translateX(calc(-100vw + 10rem + 2vw + 1rem + 1vw + (100vw - 2rem) / 5 * 0.88));
  }
  .sect-btn.skill-btn:not(.side-btn), .sect-btn.skill-btn.side-btn {
    top: calc(100% - 8rem);
    left: 0;
    transform: translateX(calc(-100vw + 10rem + 2vw + 1rem + 1vw + (100vw - 2rem) / 5 * 1.92));
  }
  .sect-btn.proj-btn:not(.side-btn), .sect-btn.proj-btn.side-btn {
    top: calc(100% - 8rem);
    left: 0;
    transform: translateX(calc(-100vw + 10rem + 2vw + 1rem + 1vw + (100vw - 2rem) / 5 * 2.96));
  }
  .sect-btn.contact-btn:not(.side-btn), .sect-btn.contact-btn.side-btn {
    top: calc(100% - 8rem);
    left: 0;
    transform: translateX(calc(-100vw + 10rem + 2vw + 1rem + 1vw + (100vw - 2rem) / 5 * 4));
  }
  .home-btn-ext {
    top: calc(100% - 8rem);
    right: 0;
    transform: translateX(calc(-100vw + 10rem + 2vw + 1rem + (100vw - 2rem) / 5 * 0));
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1), inset 1px 1px 3px rgba(255, 255, 255, 0.1);
  }
  .home-btn-ext.active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1), inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    transition: 0.5s;
    cursor: default;
  }
  .home-btn-ext.active i {
    color: #ff00ff;
  }
  .home-btn-ext, .sect-btn, .sect-btn.side-btn {
    -webkit-tap-highlight-color: transparent;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
  }
  .home-btn-ext i, .sect-btn i, .sect-btn.side-btn i {
    align-self: end;
    height: 1.5rem;
    font-size: 1.5rem;
  }
  .home-btn-ext p, .sect-btn p, .sect-btn.side-btn p {
    align-self: start;
    height: 0.8rem;
    font-size: 0.6rem;
  }
  .light-mode .home-btn, .light-mode .home-btn-ext, .light-mode .sect-btn {
    box-shadow: none;
  }
  .sect, .sect.active, .sect.standby {
    height: 80vh;
    height: calc(100% - 10rem);
    top: 0rem;
    font-size: 1rem;
  }
  .sect .sect-data,
  .sect.active .sect-data,
  .sect.standby .sect-data {
    grid-template-rows: 7% auto;
    row-gap: 0.5rem;
    border-radius: 10px;
    margin: 0;
    margin-left: 1rem;
    margin-right: 1rem;
    height: 100%;
    width: calc(100vw - 2rem);
  }
  .sect-title {
    width: -moz-fit-content;
    width: fit-content;
    align-items: end;
    padding: 0.5rem;
    font-size: 1.5rem;
  }
  .timeline, .new-timeline {
    width: 100%;
  }
  .timeline::after, .new-timeline::after {
    width: 4px;
    left: 0;
  }
  .left-node .node-point, .right-node .node-point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: -8px;
    top: calc(50% - 10px);
  }
  .left-node .node-point-span,
  .right-node .node-point-span {
    left: 12px;
  }
  .node-cont {
    padding-right: 0;
    width: calc(100% - 25px);
  }
  .node-point-span {
    width: 13px;
    top: calc(50% - 1.5px);
  }
  .node-data {
    padding: 1px 0.75rem;
    border-radius: 10px;
  }
  .node-data h2 {
    margin: 0.1rem 0 0;
    padding-left: 0.5rem;
  }
  .node-data p {
    margin: 0.1rem 0 0.5rem;
  }
  .skill-cat, .skill-cat:hover {
    width: 85%;
    height: 11rem;
  }
  .skill-cat.active {
    height: 90%;
    cursor: default;
  }
  .skill-cat.active .skill-cat-head {
    padding: 0.25rem;
  }
  .skill-cat.active .skill-cat-body {
    padding: 0.5rem;
    padding-top: 1rem;
    gap: 0.5rem;
  }
  .skill-cat-nodule {
    height: 2.5rem;
  }
  .skill-cat.inactive {
    height: 0;
    width: 0;
    border: none;
    padding: 0;
    transition: 10ms;
  }
  .skill-cat.inactive .skill-cat-head {
    width: 0;
    height: 0;
    display: none;
  }
  .proj-info {
    height: 66vh;
    margin-top: 0.5rem;
  }
  .proj-card {
    gap: 0.1rem;
    height: 13.1rem;
    width: 15rem;
  }
  .proj-head h2 {
    font-size: 1.1rem;
  }
  .proj-card.active .proj-head h2 {
    font-size: 1.25rem;
  }
  .contact-info {
    margin-top: 0.5rem;
    padding: 0;
  }
  .resume-link, .p-source-link {
    justify-content: start;
    margin-bottom: 0.25rem;
    margin: 1rem;
  }
  .resume-link p, .p-source-link p {
    margin: 0;
  }
  .resume-link a, .p-source-link a {
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */